body * {
    display: flex;
    flex: 1 1 auto;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    flex-wrap: nowrap;
}

body {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
    max-height: auto;
    max-width: 100vw;
    margin: 0;
}

.squeeze {
    padding-left: 124px;
    padding-right: 124px;
}

ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 28px;
}

.header {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 5vh;
    padding-top: 12px;
}

.header h1 {
    padding: 0;    
    margin: 0;
    border: 0;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    border: 0;
    gap: 0px;
    justify-content: flex-end;
    flex-grow: 0;
    list-style: none;
}

.sec-link {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
}

.dark {
    background-color: #1F2937;
}

.content {
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-shrink: 0;
}

button {
    flex-flow: row nowrap;
    justify-content: center;
    flex-grow: 0;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 800;
}

.one {
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 36px;
    flex-grow: 0;
}

.one-words {
    flex-flow: column wrap;
    max-width: 50%;
    justify-content: center;
    gap: 12px;
    padding-right: 36px;
}

.one-words * {
    margin: 0;
    padding: 0;
    border: 0;
    flex-grow: 0;
}

.one-words h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.one-words button {
    justify-self: flex-start;
    align-self: flex-start;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: 800;
}

.one-img {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.one-img p {
    align-self: center;
    justify-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 100px;
    background-color: #e5e7eb
}

.two {
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 1 auto;
    padding: 32px 10vw 96px;
    gap: 32px;
    max-width: 100%;
}

.two h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.two-blocks {
    flex-flow: row nowrap;
    justify-content: center;
    flex-shrink: 1;
    max-width: 100%;
    gap: 48px;
}

.two-block {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 20vh;
    flex-shrink: 1;
    gap: 8px;
}

.box {
    height: 20vh;
    width: 20vh;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.two-block p {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.three {
    flex-flow: row nowrap;
    background-color: #e5e7eb;
    padding-top: 96px;
    padding-bottom: 96px;

}

.quote {
    flex-flow: column nowrap;
    align-items: center;
    gap: 12px;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote cite {
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
}

.four {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.four-block {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; 
}

.four-block-words {
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.four-block button {
    display: flex;
}

.footer {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.footer p {
    flex-flow: row nowrap;
    justify-content: center;

}
